<a href="https://colab.research.google.com/github/moya3/test/blob/master/my_Section3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PART1 データを読み込んでみよう
## おまじない
- まずおまじないを書くために、このセルの下に新しいセルを作ろう

## データの読み込み
- データを読み込む前にcase1の中にあるtrain.csvをメモ帳で開いて確かめてみましょう（excelで開くと文字化けします）
- 拡張子のcsvとはカンマで区切られたデータのことです
- 通常、列の頭には列行の内容を示す名前がついています（ない場合もあります）

In [0]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

## 早速trainのデータの中身を見てみましょう
- head関数を使います
- 関数は必ずカッコが必要になります

In [0]:
train = pd.read_csv('train.csv')

## headは先頭行を表示するが、最終行が見たい場合は・・・

In [0]:
train.head()

     datetime    y week  soldout  ... payday  weather precipitation temperature
0  2013-11-18   90    月        0  ...    NaN       快晴            --        19.8
1  2013-11-19  101    火        1  ...    NaN       快晴            --        17.0
2  2013-11-20  118    水        0  ...    NaN       快晴            --        15.5
3  2013-11-21  120    木        1  ...    NaN       快晴            --        15.2
4  2013-11-22  130    金        1  ...    NaN       快晴            --        16.1

[5 rows x 12 columns]

## 行数と列数を確認したい場合はshapeを使います
- shapeは関数ではないのでカッコはいりません

In [0]:
train.shape

(207, 12)

# 実習

1.test.csvの変数名をtestとして、sample.csvの変数名をsampleとして読み込んでみよう
- ファイル名を書く時はダブルクォーテーションを忘れないようにしよう

In [0]:
test = pd.read_csv('sample.csv')

2.testは何行何列ありますか？

In [0]:
test.shape

(39, 2)

3.testの3行目のメニューはなんでしょう？

In [0]:
test.head()

   2014-10-1  24
0  2014-10-2  71
1  2014-10-3  25
2  2014-10-6  32
3  2014-10-7  60
4  2014-10-8  44

4.testの10行目まで見たい。どうしたらいいか考えてみよう

In [0]:
test.head(10)

    2014-10-1  24
0   2014-10-2  71
1   2014-10-3  25
2   2014-10-6  32
3   2014-10-7  60
4   2014-10-8  44
5   2014-10-9  64
6  2014-10-10  33
7  2014-10-14  67
8  2014-10-15  28
9  2014-10-16  90

5.sampleはこのままではちょっとおかしい部分がある。どこがおかしいか？

In [0]:
test = pd.read_csv('sample.csv', header=None)

In [0]:
test.head()

           0   1
0  2014-10-1  24
1  2014-10-2  71
2  2014-10-3  25
3  2014-10-6  32
4  2014-10-7  60